* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://avatanplus.com/files/resources/original/5734d0148258f154a64cd036.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif, helvetica;
}

.wrapper-chat {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.chat {
    position: relative;
    display: flex;
    max-width: 1000px;
    min-height: 450px;
    height: calc(100vh - 30px);
    margin: 15px auto;
    justify-content: space-between;
    background-color:#393251;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 30px #221e30af;
}

.modal-login {
    display: none;
}

.modal-login.active{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #089bdf;
}

.modal-login__msg {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: azure;
}

@media all and (max-width: 768px) {
    .chat {
        margin: 15px auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
}